[Unit]
Description=Run fact table pipeline every 3 hours starting at 5am Eastern

[Timer]
# Start at 05:00 America/Toronto, then every 3 hours (05,08,11,14,17,20,23,02)
OnCalendar=*-*-* 05/3:00:00 America/Toronto
Persistent=true
AccuracySec=1min
Unit=pipeline.service

[Install]
WantedBy=timers.target
